/* styles.css */
.jumbotron {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .jumbotron h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .jumbotron p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .jumbotron .btn-primary {
    font-size: 1.2rem;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .welcome{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7P97cZhgub48kA51cyzddb7_In_mqcO4--w');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    font-family: Arial, sans-serif; /* Adjust the font-family as needed */
  }
  
  
