/* styles.css */
.jumbotron {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .jumbotron h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .jumbotron p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .jumbotron .btn-primary {
    font-size: 1.2rem;
  }
  